h1{
    font-family: 'Satisfy', cursive;
}
.p{
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}
.botonClaro{
    background-color: #F3E8DD;
}
.botonOscuro{
    background-color: #FB575B;
}
